<div class="footers">
  <div class="icon">
    <a href="https://www.linkedin.com/in/surajmauryaa/"
      ><i class="fa-brands fa-facebook"></i
    ></a>
    <a href="https://www.linkedin.com/in/surajmauryaa/"
      ><i class="fa-brands fa-square-instagram"></i
    ></a>
    <a href="https://www.linkedin.com/in/surajmauryaa/"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
  </div>
  <div class="copy">
    <p>&copy Suraj Maurya 2024-25</p>
  </div>
  <div class="Privacy">
    <span><a href="#">Privacy</a></span>
    <span><a href="#">Terms</a></span>
  </div>
</div>
