<% layout('/layouts/boilerplate') -%>
<br />
<div>
  <div>
    <h2 class="offset-1">login on Wanderlust</h2>
    <form method="post" action="/login" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          class="form-control"
          name="username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          required
        />
      </div>
      <button class="btn btn-dark">login</button>
    </form>
  </div>
</div>

<br />
<br />
<br />
